.c-container_title{
h1{
    font-size: 5vw;
    white-space: nowrap;
    font-family: $title_font;
    text-align: center;
}
h2{
    font-size: 40px;
    white-space: nowrap;
    font-family: $title_font;
    text-align: center;
}
}