.c-main_container_menu{
         width:          100%;
         font-size:      2.5rem;
         font-family:    $title_font;
         text-align:     center;
         position:       absolute;
         top:            25%;
         transition:     0.5s;
         opacity:        0;
         &_menu{
         display:        flex;
         flex-direction: column;
         list-style:     none;
         li{
         padding-bottom: 10px;
         }
         }
&.is-open{
         opacity:        1;
         z-index:        4;
}
@include breakpoint      (pc){
         display:        none;
}
}
