/*前後記事へのリンク部分の装飾*/
.nav-links{
    display: flex;
}
.nav-previous{ //前の記事
    flex:1;
    margin-left: 5px;
}
.nav-next{ //次の記事
    flex: 1;
    margin-left: 10px;
    margin-right: 5px;
    text-align: right;
}
/*「投稿ナビゲーション」を非表示にする*/
.screen-reader-text{
    display: none;

}