.c-single_thumbnail{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    img{
        max-width: 50vw;
        height: 35vh;
        object-fit: cover;
        filter: brightness(50%);
    }
}