//投稿記事内の調整//
.c-single_content{
    padding: 0 5%;
    border-left: double 5px;
    border-right: double 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
    border-color:#eee;
    h1,h2,h3,h4,h5,h6{
        font-family: $font;
    }
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 3rem;
    }
    h4{
        font-size: 2rem;
    }
    h5{
        font-size: 1.5rem;
    }
    h6{
        font-size: 1rem;
    }
    p{
        font-size: 1.5rem;
        font-family: $font;
        line-height: 30px;
    }
    img{
        width: 100%;
    }
    a{
        text-decoration:underline ;
        color: blue;
    }
    a:hover{
        color: gray;
    }
}