.p-archive_container{
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    &_left{
        width: 55%;
    &_box{
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        &_sentence{
            width: 64%;
            margin-left: 25px;
        }
    }
    @include breakpoint(sma){
        margin: 0 auto 40px auto;
    }
    }
    &_right{
        width: 26%;
    }
}
