.p-blog {
    margin-bottom: 320px;
    padding: 0 15%;
    @include breakpoint(sma) {
        margin-bottom: 80px;
        padding: 0 5%;
    }
    @include breakpoint(tab) {
        margin-bottom: 160px;
        padding: 0 5%;
    }
    &__box {
        margin-top: 44px;
        margin-bottom: 44px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:max-content;
        grid-gap: 40px;
        @include breakpoint(sma) {
            grid-template-columns: 1fr;
        }
        a{
            border-left: double 5px;
            border-right: double 5px;
            box-shadow: 1px 0 4px rgba(0, 0, 0, 0.32); /*影*/
            border-color: #eee;
            transition: all 0.5s;
        }
        a:hover {
            transform: scale(1.05);
            opacity: 0.5;
        }
        &__post {
            display: flex;
            width: 100%;
            max-height: 200px;
            .post__thumbnail {
                width: 40%;
                img {
                    width: 100%;
                    max-height: 100%;
                }
            }
            .post__sentence {
                width: 60%;
                margin: 8px;
                .post__title {
                    margin-bottom: 10px;
                    font-size: 12px;
                    overflow: hidden;
                }
                .post-date {
                    margin-bottom: 8px;
                }
                .post-content {
                }
            }
        }
    }
    .c-more {
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        font-family: $title_font;
        a {
            transition: all 0.5s;
            text-decoration: underline;
        }
        a:hover {
            font-size: 26px;
            opacity: 0.5;
        }
    }
}
