.p-main_visual{
    position: absolute;
    width: 100%;
    height: 100%;
    @include breakpoint(sma) {
        margin-bottom: 80px;
    }
    @include breakpoint(tab) {
        margin-bottom: 160px;
    }
        .c-top img{
            width: 100%;
            height: 600px;
            position: absolute;
            overflow: hidden;
            opacity: 0.75;
            object-fit: cover;
            animation: fadeIn 3s ease 0s 1 normal;
        @include breakpoint(tb){
            height: 300px;
        }
        @include breakpoint(sma){
            height: 300px;
        }
        }
        @keyframes fadeIn {
            /*animetion-nameで設定した値を書く*/

            0% {
                opacity: 0;
            } /*アニメーション開始時は不透明度0%*/

            100% {
                opacity: 0.75;
            } /*アニメーション終了時は不透明度100%*/
        }
    }