.p-page_container{
    width: 100%;
    display: flex;
    @include breakpoint(sma){
        flex-direction: column;
        align-items: center;
    }
    &_left{
        width: 50%;
        @include breakpoint(sma){
            width: 85%;
        }
        &_pic{
            text-align: center;
            margin-bottom: 3%;
    }
    &_text{
        padding: 0 12%;
        p{
            text-align: left;
            font-size: 1.4vw;
            font-family: $font;
            line-height: 30px;
            @include breakpoint (sma){
                font-size: 1.5rem;
            }
        }
    }
}


    //right//
    &_right{
        width: 50%;
    h2{
        font-size: 3vw;
        font-family: $title_font;
        text-align: center;
        margin: 0 5%;
    }
    &_container{
        width: 100%;
        &_box{
            display: flex;
            padding: 5% 10%;
        img{
            width: 25%;
        }
        &_text{
            padding-left: 3vw;
            h3{
                font-size: 2vw;
                font-family: $font;
            }
            p{
                font-size: 1.5vw;
                font-family: $font;
            }
        }
    }
    }
    }
}
  //safariレイアウト崩れを防ぐ記述//
_::-webkit-full-page-media, _:future, :root .p-page_container_right {
    width: 50%;
  }
  
  _::-webkit-full-page-media, _:future, :root  .p-page_container_right_container {
    width: 25%;
  }
  
  _::-webkit-full-page-media, _:future, :root  .p-page_container_right_container_box {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    padding: 5% 10%;
  }
  
  _::-webkit-full-page-media, _:future, :root  .p-page_container_right_container_box img {
    width: 100%;
  }
  
  _::-webkit-full-page-media, _:future, :root  .p-page_container_right_container_box_text {
    padding-left: 3vw;
    width: 300%;
  }
  