.p-single_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    &_left{
        width: 75%;
    }
    &_right{
        width: 15%;
    }
    @include breakpoint (sma){
        display: block;
        width: 100%;
        &_left{
            width: 100%;
        }
        &_right{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
        }
    }
}