.p-single_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    &_left{
        width: 70%;
    }
    &_right{
        width: 30%;
        padding-left: 5%;
    }
    @include breakpoint (sma){
        display: block;
        width: 100%;
        &_left{
            width: 100%;
        }
        &_right{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
        }
    }
    @include breakpoint (tab){
        display: block;
        width: 100%;
        &_left{
            width: 100%;
        }
        &_right{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
        }
    }
}