.p-single_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    &_left{
        width: 64%;
        p{
            font-size: 1.5rem;
        }
    }
    &_right{
        width: 26%;
    }
}