.l-custom__post{
    padding: 0 15%;
    margin-top: 120px;
    @include breakpoint(sma){
        padding: 0 5%;
        margin-top: 100px;
    }
    @include breakpoint(tab){
        padding: 0 5%;
        margin-top: 100px;
    }
    h1{
        font-size: 40px;
        line-height: 50px;
        width: 100%;
        border-top: 4px solid;
        border-bottom: 4px solid;
        border-color: $main_color;
        padding: 5px 5px 5px 10px;
        font-family: $font;
        margin-top: 10px;
        margin-bottom: 10px;
        @include breakpoint(sma){
            font-size: 24px;
            line-height: 28px;
        }
        @include breakpoint(tab){
            font-size:32px;
        }
    }
}